* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  text-align: center;
  padding: 3.125rem;
}

footer {
  text-align: center;
  padding: 2.5rem 0rem;
}

.gallery_container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 18.75rem;
  padding: 20px;
  grid-gap: 0.625rem;
}

.gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
